<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558073952474-osfulap3ske72en7b24gijotca959go1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558073952474-osfulap3ske72en7b24gijotca959go1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>558073952474-6sj486c905r97h2o11rn6vrcpbcnt93l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCmbAf6VLEMHjYtBIEY0bpp4e6fcNQbano</string>
	<key>GCM_SENDER_ID</key>
	<string>558073952474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.progradispmoviles</string>
	<key>PROJECT_ID</key>
	<string>proyectobavarian</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectobavarian.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558073952474:ios:43fe4b21b7b1883da90de3</string>
</dict>
</plist>